allure-results/
test-output/
reports/

application.log
######################
##Java
######################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
activityLog.log
######################